# Executables
restaurant
*.exe
*.out
*.app

# Compiled Object files
*.o
*.obj

# Temporary files
*.tmp
*.bak

# Precompiled Headers 
*.gch
*.pch

# Build System Artifacts ( Cmake or related)
/build/
/Build/

# Cmake configuration files 
CmakeCache.txt
CmakeFiles/
CmakeTesfile.cmake
cmake_install.cmake
install_manifest.txt

# Visual studio / XCode files (if build on those platforms)
*.sln
*.vcxproj
*.vcproj
*.xcodeproj

